@import "tailwindcss";

@theme {
  --font-mono: 'JetBrains Mono', monospace;
  --font-sans: 'Inter', sans-serif;
  
  --color-brand-cyan: #06b6d4;
  --color-brand-indigo: #6366f1;
}

/* Base custom styles */
body {
  font-family: var(--font-sans);
}

.font-tech {
  font-family: var(--font-mono);
}